
p:first-child:first-letter {
  float: left;
  color: darkred;
  border: 3px ridge darkgoldenrod;
  padding: 16px;
  background-color: gold;
  margin: 8px;
}


blockquote {
  quotes: "“" "”"; 
}


a:hover {
  color: blue; 
}


a:visited {
  color: purple; 
}
