.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .card-header {
    background-color: #6f7174;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  
  .card-title {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .list-group-item {
    border-radius: 0;
  }
  
  .card-footer {
    background-color: #f7f7f7;
    padding: 10px;
  }
  