/* Struttura generale */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  /* Header */
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Main */
  
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Sezione card */
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 960px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    width: calc(33% - 40px);
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .card p {
    margin: 0 10px;
    padding-bottom: 10px;
  }
  
  /* Footer */
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Media queries per responsive design */
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 375px) {
    .card {
      width: 100%;
    }
  }
  