.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto 1fr auto; 
  gap: 20px; 
}

.green,
.orange,
.yellow,
.red,
.blue {
  background-color: #ccc; 
  padding: 20px; 
  text-align: center; 
}


.green {
  background-color: green; 
  grid-row: 1; 
}

.orange {
  background-color: orange; 
  grid-row: 3; 
}

.yellow {
  background-color: yellow; 
  grid-row: 2; 
  grid-row-end: 3; 
}

.red {
  background-color: red; 
  grid-row: 2; 
  grid-row-end: 3; 
}

.blue {
  background-color: blue; 
  grid-row: 3;
}


.yellow p,
.red p {
  margin-bottom: 10px; 
}

.yellow ul,
.red ul {
  list-style: none; 
  padding: 0; 
}

.yellow li,
.red li {
  margin-bottom: 5px; 
}
